* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #091020;
    font-family: Roboto, Montserrat, Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #091020;
    border-bottom: 1px solid #dcd5c2c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header h3 {
    color: #DCD5C2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
    width: 250px;
}
.header .right i.fa.fa-refresh {
    cursor: pointer;
    color: gray;
    transition: all ease-in 0.5s;
}
.header .right i.fa.fa-refresh:hover {
    color: #DCD5C2;
}
.header .right .search-box {
    margin-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 10px;
    caret-color: #DCD5C2;
}

.header .right .search-box:hover {
    border: 1px solid#DCD5C2;
    color: #DCD5C2;
}

.header .right .search-box i{
    cursor: e-resize;
}
.header .right .search-box input{
    background-color: transparent;
    border: none;
    color: #DCD5C2;
}
.header .right .search-box input:focus {
    outline: none;
    border: none;
}
.coins-container {
    padding: 10px;
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.coin {
    background-color: #0f1a33;
    position: relative;
    margin: 5px;
    padding: 5px 0px;
    width: 320px;
    height: 100px;
    border-radius: 3px;
    font-size: 0.8em;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all ease-in 0.5s;
    cursor: move;
}
.coin:hover {
    background-color: #13203d;
}
.coin .coin-details h3 {
    color: #DCD5C2;
}
.coin .coin-details p {
    text-align: center;
}
.coin .fa-trash {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 16px;
    color: gray;
    padding-top: 2px;
    cursor: pointer;
    transition: all ease-in 0.5s;
    opacity: 0;
}
.coin .fa-trash:hover {
    color: #e75b56c9;
}

.coin:hover .fa-trash {
    opacity: 1;
}